{{ 'stories.css' | asset_url | stylesheet_tag }}

{% liquid
    assign bg_color = section.settings.bg_color
    assign content_color = section.settings.content_color
    assign text_color = section.settings.text_color

    assign padding_top = section.settings.padding_top | append: "px"
    assign padding_bottom = section.settings.padding_bottom | append: "px"

    assign heading = section.settings.heading
    assign show_reviews_section = section.settings.show_reviews_section
    assign btn_label = section.settings.btn_label
    assign btn_url = section.settings.btn_url
    assign heading_secondary = section.settings.heading_secondary
%}

<div class="stories" style="
        --padding-top: {{ padding_top }};
        --padding-bottom: {{ padding_bottom }};
        --bg-color: {{ bg_color }};
        --text-color: {{ text_color }};
        --content-color: {{ content_color }};">

    <div class="stories__wrapper page-width">
        <div class="stories__inner">
            {% if heading != blank %}
                <div class="stories__heading heading-h2">{{ heading }}</div>
            {% endif %}

            <ul class="stories__list">
              {%- for article in blog.articles -%}
                <li>
                  <div class="stories__card">
                      <a href="{{ article.url }}" class="stories__link"><span class="visibility-hidden"></span></a>
                      <span class="animate-circle"></span>
                      <div class="stories__card-image">
                          <img
                                  srcset="
                  {% if article.image.width >= 350 %}{{ article.image | image_url: width: 350 }} 350w,{% endif %}
                  {% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
                  {% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
                  {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
                  {% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
                  {% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
                  {{ article.image | image_url }} {{ article.image.width }}w
                "
                                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                                  src="{{ article.image | image_url: width: 1100 }}"
                                  loading="eager"
                                  fetchpriority="high"
                                  width="{{ article.image.width }}"
                                  height="{{ article.image.height }}"
                                  alt="{{ article.image.alt | escape }}"
                          >
                      </div>
                      <div class="storie-article__heading heading-h3">
                          {{ article.title | truncate: 50 | escape }}
                      </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% if show_reviews_section %}
    <div class="secondary-section page-width">
        <div class="secondary-section__wrapper">
            <div class="secondary-section__content">
                {% if heading_secondary != blank %}
                    <div class="secondary-section__heading heading-h2">{{ heading_secondary }}</div>
                {% endif %}

                {% if btn_label != blank %}
                    <div class="secondary-section__button">
                        <a href="{{ btn_url }}" target="_blank" class="button-primary"><span>{{ btn_label }}</span></a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}


{% schema %}
{
  "name": "Stories",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#23201d"
    },
    {
      "type": "color",
      "id": "content_color",
      "label": "Content color",
      "default": "#f3f2f0"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading",
      "default": "<h2>Heading</h2>"
    },
    {
      "type": "header",
      "content": "Heading with button section"
    },
    {
      "type": "checkbox",
      "id": "show_reviews_section",
      "label": "Show section",
      "default": true
    },
    {
      "type": "richtext",
      "id": "heading_secondary",
      "label": "Heading",
      "default": "<h2>Heading</h2>"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Label",
      "default": "Button label"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "URL"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Top padding",
      "default": 160
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Bottom padding",
      "default": 160
    }
  ],
  "presets": [
    {
      "name": "Stories"
    }
  ]
}
{% endschema %}